<table class='table'>
  <tr>
  <td><%= image_tag customer.get_profile_image, size:'100x100' %></td>
  </tr>
  <tr>
	  <th>name</th>
	  <th><%= customer.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= customer.introduction %></th>
  </tr>
  <tr>
	  <th>フォロー数:</th>
	  <th><%= link_to customer.followings.count, customer_followings_path(customer.id) %></th>
  </tr>
   <tr>
	  <th>フォロワー数:</th>
	  <th><%= link_to customer.followers.count, customer_followers_path(customer.id) %></th>
  </tr>
</table>

<div class='row'>
  <%= link_to edit_customer_path(customer), class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>

