<%= stylesheet_link_tag 'illustrations' %>
<div class="container">
  <h2>illustration detail</h2>
  <div class="row">
      <div>
          <% if @illustration.illustration_image.attached? %>
            <%= link_to illustration_path(@illustration.id) do %>
            <%= image_tag @illustration.illustration_image, size: "500x500" %>
            <% end %>
          <% end %>
      </div>
    <div class="container">
    <table class='table'>
      <thead>
        <th>タイトル</th>
        <th>説明</th>
        <th></th>
      </thead>
      <tbody>
        <td><%= link_to @illustration.title, @illustration %></td>
        <td><%= @illustration.body %></td>
          <% if @illustration.customer_id == current_customer.id %>
            <td><%= link_to 'Edit', edit_illustration_path(@illustration), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', @illustration, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
      </tbody>
    </table>
    </div>
  </div>
      <p>コメント件数：<%= @illustration.post_comments.count %></p>
      <table>
              <% @illustration.post_comments.each do |post_comment| %>
              <tr>
                <td><%= post_comment.customer.name %></td>
                <td><%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %></td>
                <td>
                <% if post_comment.customer == current_customer %>
                  <%= link_to "削除", post_comment_path(post_comment.illustration, post_comment), method: :delete %>
                <% end %>
                </td>
              </tr>
              <% end %>
      </table>
             <div>
              <%= form_with model: [@illustration, @post_comment], url: post_comments_path(@illustration.id), method: :post do |f| %>
                <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", :size=>"60x10" %>
                <%= f.submit "送信する" %>
              <% end %>
            </div>
            <% @illustration.tags.each do |tag|%>
              <div class="btn btn-outline-info disabled">
              <%= tag.tag_name%>
              </div>
            <% end %>
</div>














